mat-toolbar {
    background-color: #04293A;
}

mat-sidenav {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #53565A;
}

mat-sidenav-content {
    background-color: #E1E5EA;
}

.first-toolbar {
    height: 40px;
}

.center {
    justify-content: left;
}

.superior {
    margin-top: 15px;
}

span .title {
    font-size: 30px;
}

a {
    font-size: 16px;
}

mat-icon {
    margin-right: 10px;
}