<!--https://codinglatte.com/posts/angular/responsive-navbar-angular-flex-layout/-->

<div class="first-toolbar">
  <mat-toolbar class="center">
    <span class="title">SMASP</span>
    <div fxShow="true" fxHide.lt-md="true">
      <!--Os itens a seguir serão ocultados em SM and XS screen sizes-->
    </div>
  </mat-toolbar>
</div>

<div class="second-toolbar">
  <mat-divider class="superior"></mat-divider>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <div fxShow="true" fxHide.lt-md="true">
      <!--Os itens a seguir serão ocultados em SM and XS screen sizes--> 
      <a mat-button routerLink=''>Início</a> 
      <a mat-button routerLink='mapeamento'>Mapeamento</a> 
      <a mat-button routerLink='cadastros'>Cadastros</a> 
      <a mat-button routerLink='solicitacoes'>Solicitações</a>
      <a mat-button routerLink='suporte'>Suporte</a>
    </div>
  </mat-toolbar>
</div>

<mat-sidenav-container fxFlexFill class="example-container">

  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column" class="items">
      <mat-nav-list>
        <a mat-list-item routerLink=''>
            <mat-icon id="home">home</mat-icon>
            <span>Início</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink='mapeamento'>
            <mat-icon id="room">room</mat-icon>
            <span>Mapeamento</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink='cadastros'>
            <mat-icon id="forest">forest</mat-icon>
            <span>Cadastros</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink='solicitacoes'>
            <mat-icon id="announcement">announcement</mat-icon>
            <span>Solicitações</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink='suporte'>
            <mat-icon id="headset">headset_mic</mat-icon>
            <span>Suporte</span>
        </a>
        <mat-divider></mat-divider>

      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>