
mat-toolbar {
    background-color: #1A1A40;
    
    .title {
        font-size: 30px;
        font-weight: bold;
    }
}

mat-sidenav {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
    background-color: #424242;
}

mat-sidenav-content {
    background-color: #ffffff;
}

.first-toolbar {
    height: 40px;
}

.second-toolbar {
    .superior {
        margin-top: 15px;
    }
}


mat-icon {
    margin-right: 10px;
}