<div class="content" fxLayout fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z15" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="30%"
        fxFlex.xl="20%">
        <mat-card-header>
            <mat-card-title>Cadastre uma Árvore</mat-card-title>
            <mat-card-subtitle>Preencha as informações abaixo</mat-card-subtitle>
        </mat-card-header>
        <form>
            <mat-card-content [formGroup]="formCadastro">
                <mat-form-field appearance="outline">
                    <mat-label>Endereço e Número</mat-label>
                    <input matInput formControlName="endereco">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="cep">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nome do Cadastrante</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>

                    <label id="example-radio-group-label">1. Selecione o Estado Atual da Árvore</label>
                    <mat-radio-group aria-label="Select an option" formControlName="situacao">
                        <mat-radio-button value="Bom">Bom</mat-radio-button>
                        <mat-radio-button value="Atenção">Atenção</mat-radio-button>
                        <mat-radio-button value="Crítico">Crítico</mat-radio-button>
                    </mat-radio-group>

                <div class="botoes">
                    <button mat-mini-fab class="done" (click)="done()">
                        <mat-icon>done</mat-icon>
                    </button>

                    <button mat-mini-fab class="close" (click)="back()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>