<div class="content">
    <div class="title">
        <strong>Cadastros</strong>
        <button mat-icon-button (click)="add()">
            <mat-icon class="add-icon">add_circle_outline</mat-icon>
        </button>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="33.3%" fxFlex.md="25%" *ngFor="let cadastro of cadastros">
            <mat-card class="mat-elevation-z15">
                <mat-card-title>{{cadastro.bairro}}</mat-card-title>
                <mat-card-subtitle>{{cadastro.endereco}}</mat-card-subtitle>
                <mat-card-content>
                    <p class="situacao">Estado: {{cadastro.situacao}}</p>
                    <p class="cep">CEP: {{cadastro.cep}}</p>
                    <p class="id">ID: {{cadastro.id}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-mini-fab class="create">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-mini-fab class="delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>